.text-primary {
    color: #007bff !important;
}
.justify-content-center {
	text-align: center;
}
.align-items-center {
	vertical-align:middle;
}
.overflow-auto {
    overflow: auto !important;
}
.axis { font: 16px sans-serif; }

div.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 80px;          
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;        
  pointer-events: none;     
}
